<main class="container mx-auto p-4 ">
    <section class="mb-8">
        <h2 class="text-2xl font-semibold mb-4">Aspectos éticos y legales del manejo de la información</h2>
        <p class="mb-4">Es fundamental comprender los aspectos éticos y legales relacionados con el manejo de la
            información para asegurar un uso responsable y conforme a la ley.</p>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
            <!-- Agrega la clase 'card-hover' a las tarjetas -->
            <div class="card-hover bg-white shadow-md rounded-lg p-4">
                <h3 class="font-semibold mb-2 card-hover__title">Ley general de protección de datos personales</h3>
                <p class="card-hover__text">Regula el tratamiento de datos personales.</p>
                <a href="https://www.gob.mx/portal/atencion-proteccion-datos"
                    class="card-hover__link text-blue-600 underline mt-2 block">Descargar</a>
            </div>

            <div class="card-hover bg-white shadow-md rounded-lg p-4">
                <h3 class="font-semibold mb-2 card-hover__title">Ley de propiedad industrial</h3>
                <p class="card-hover__text">Protege los derechos sobre las invenciones.</p>
                <a href="https://www.diputados.gob.mx/LeyesBiblio/pdf/147.pdf"
                    class="card-hover__link text-blue-600 underline mt-2 block">Descargar</a>
            </div>
            <div class="card-hover bg-white shadow-md rounded-lg p-4">
                <h3 class="font-semibold mb-2 card-hover__title">Ley federal de derechos de autor</h3>
                <p class="card-hover__text">Regula los derechos sobre obras artísticas y literarias.</p>
                <a href="https://www.diputados.gob.mx/LeyesBiblio/pdf/157.pdf"
                    class="card-hover__link text-blue-600 underline mt-2 block">Descargar</a>
            </div>
            <div class="card-hover bg-white shadow-md rounded-lg p-4">
                <h3 class="font-semibold mb-2 card-hover__title">Código penal federal</h3>
                <p class="card-hover__text">Establece delitos y penas relacionadas con la información.</p>
                <a href="https://www.diputados.gob.mx/LeyesBiblio/pdf/9.pdf"
                    class="card-hover__link text-blue-600 underline mt-2 block">Descargar</a>
            </div>
        </div>
    </section>
    
</main>